/*
0 - 600px:   Phone
600-900px:   Tablet portrait
900-1200px:   Tablet landscape
1800px +:   Big desktop

$breakpoint argument choices:
-  phone
-  tab-port
-  tab-land
-  big-desktop

ORDER: Base + typograpfy > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% { }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% { }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  30% {
    transform: translateX(-0.4rem); }
  50% {
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes opacityChange {
  0% {
    opacity: .3; }
  100% {
    opacity: 1; } }

@keyframes float {
  0% {
    opacity: .1; }
  25% {
    opacity: .3; }
  50% {
    opacity: .4; }
  75% {
    opacity: .7; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.4; }

img {
  width: 100%; }

::selection {
  background-color: #000;
  color: #eee; }

a,
a:visited {
  color: inherit;
  text-decoration: none; }
  a:active,
  a:visited:active {
    color: #B28A2B; }

body {
  color: #777;
  font-family: 'Montserrat', sans-serif;
  /* font-size: 16px; */
  line-height: 1.5; }

h1, h2 {
  font-family: 'Rokkitt', serif; }

.skills__heading {
  font-family: 'Montserrat', sans-serif; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-bottom: 10rem !important; }

.u-align-start {
  align-self: flex-start !important; }

.u-align-end {
  align-self: flex-end !important; }

.u-margin-left {
  margin-left: 1rem !important; }

.backlink {
  text-decoration: underline; }
  .backlink:hover {
    color: #B28A2B; }

.logo {
  position: relative; }
  @media only screen and (max-width: 41.25em) {
    .logo {
      grid-column: 1 / -1; } }
  .logo__image {
    background: linear-gradient(to right, #F5F5F5, #000);
    border: 1px solid black;
    clip-path: polygon(0% 0, 100% 100%, 0 100%, 0% 50%);
    color: #eee;
    height: 100%;
    width: 100%;
    font-size: 4.8rem;
    grid-row: 1 / 3;
    display: none; }
  .logo__name {
    align-self: end;
    grid-column: 1 / 4;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    position: relative; }
    .logo__name::after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 94%;
      background-color: #080b14;
      position: absolute;
      top: 100%;
      left: 8px; }
  .logo__title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 2.4rem;
    font-weight: 100;
    margin-left: 1.4rem; }

.contact__paragraph {
  padding: .5rem 0; }

.contact__list {
  list-style: square;
  margin: 1rem; }

.contact__list-item {
  margin: 1rem; }

.container {
  background-image: linear-gradient(to right top, rgba(245, 245, 245, 0.1) 0%, rgba(15, 22, 38, 0.8));
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.content {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 70vh; }

.download {
  display: inline-block;
  font-family: 'Rokkitt', serif;
  font-weight: 700;
  transition: all .2s;
  text-decoration: underline; }
  .download:hover {
    transform: scale(1.05); }

.page-header {
  color: #0F1626;
  margin: 2rem 0;
  margin-bottom: 1rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 41.25em) {
    .page-header {
      text-align: center; } }
  .page-header h1 {
    font-size: 4.8rem;
    letter-spacing: 8px; }

.footer {
  background-color: #0F1626;
  color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
  min-height: 20vh; }

.header {
  background: #0F1626;
  color: #F5F5F5; }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 41.25em) {
      .header__content {
        justify-content: center;
        grid-template-columns: auto;
        grid-row-gap: 1rem; } }

.navigation {
  grid-column: 2 / -1;
  justify-self: end; }
  @media only screen and (max-width: 41.25em) {
    .navigation {
      grid-column: 1 / -1;
      justify-self: center; } }
  .navigation__list li {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700; }
    .navigation__list li:nth-child(1) {
      animation: moveInTop .4s; }
    .navigation__list li:nth-child(2) {
      animation: moveInTop .6s; }
    .navigation__list li:nth-child(3) {
      animation: moveInTop .8s; }
    .navigation__list li:nth-child(4) {
      animation: moveInTop 1s; }
  .navigation__list-item {
    padding: 0 .5rem;
    position: relative;
    opacity: .9; }
    .navigation__list-item::after {
      content: "";
      background-color: #F5F5F5;
      display: inline-block;
      height: 2px;
      visibility: hidden;
      width: 1px;
      transition: all .5s ease-in-out;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(-100%); }
    .navigation__list-item--active {
      font-weight: 900; }
    .navigation__list-item:hover {
      cursor: pointer;
      opacity: 1; }
      .navigation__list-item:hover::after {
        visibility: visible;
        width: 75%; }

.section {
  background: #0F1626;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #000;
  color: #F5F5F5;
  margin: 2rem 0;
  overflow: hidden; }
  .section ul, .section p {
    animation: opacityChange .5s; }

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 8rem;
  min-height: 50vh;
  grid-column-gap: 1rem; }
  @media only screen and (max-width: 41.25em) {
    .about {
      grid-template-columns: 1fr;
      padding: 4rem; } }
  @media only screen and (max-width: 390px) {
    .about {
      padding: 2rem; } }
  .about__title {
    grid-column: 2 / -1;
    grid-row: 1 / 1;
    font-size: 3.2rem;
    font-weight: 300;
    margin-left: 1rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 41.25em) {
      .about__title {
        grid-column: 1 / -1;
        margin: auto; } }
    @media only screen and (max-width: 31.25em) {
      .about__title {
        font-size: 2.8rem; } }
  .about__image {
    grid-column: 1 / 1;
    grid-row: 2 / span 2;
    margin-top: 1rem;
    border-radius: 5px; }
    @media only screen and (max-width: 41.25em) {
      .about__image {
        width: 12rem;
        grid-column: auto;
        margin: 0 auto; } }
  .about__paragraph {
    grid-column: 2 / span 2;
    margin: 1rem; }
    @media only screen and (max-width: 41.25em) {
      .about__paragraph {
        grid-column: auto;
        grid-row: auto;
        margin: 1rem 6rem; } }
    @media only screen and (max-width: 31.25em) {
      .about__paragraph {
        margin: 1rem 4rem; } }
    .about__paragraph-1 {
      grid-row: 2 / 2; }
      @media only screen and (max-width: 41.25em) {
        .about__paragraph-1 {
          grid-row: auto; } }
    .about__paragraph-2 {
      grid-row: 3 / 3; }
      @media only screen and (max-width: 50em) {
        .about__paragraph-2 {
          grid-row: auto; } }

.item {
  padding: 1rem; }
  @media only screen and (min-width: 31.25em) {
    .item {
      max-width: 75%;
      margin: 0 auto; } }
  .item__title {
    font-size: 6.2rem;
    text-align: center;
    line-height: 0.7;
    margin: 1rem; }
  .item__list {
    padding-left: 2rem;
    list-style-type: square; }
    @media only screen and (min-width: 41.25em) {
      .item__list {
        max-width: 75%;
        margin: 2rem auto; } }
  .item__paragraph {
    margin: 2rem 0; }
    @media only screen and (min-width: 41.25em) {
      .item__paragraph {
        max-width: 75%;
        margin: 2rem auto; } }
  .item__nav {
    align-items: center;
    display: flex;
    font-family: 'Rokkitt', serif;
    font-weight: 700;
    width: 100%; }
    .item__nav-link-right {
      margin-left: auto;
      margin-right: 5rem; }
      .item__nav-link-right::after {
        content: "\00bb"; }
      .item__nav-link-right:hover {
        transform: translateX(3px);
        transition: all .2s; }
    .item__nav-link-left {
      margin-right: auto;
      margin-left: 5rem; }
      .item__nav-link-left::before {
        content: "\00ab"; }
      .item__nav-link-left:hover {
        transform: translateX(-3px);
        transition: all .2s; }
    .item__nav-link i {
      margin: .3rem; }

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  grid-column-gap: 2rem;
  min-height: 50vh;
  padding: 2rem; }
  .skills__item {
    margin: 1rem auto; }
    @media only screen and (max-width: 41.25em) {
      .skills__item {
        margin: 1rem 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .skills__item {
        font-size: 1.8rem; } }
  @media only screen and (max-width: 31.25em) {
    .skills__heading {
      font-size: 1.8rem; } }
  .skills__list {
    list-style-type: square;
    margin-left: 2rem; }
  .skills__list-item {
    margin: 1rem; }

.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  @media only screen and (max-width: 41.25em) {
    .work {
      grid-template-columns: 1fr;
      padding: 4rem; } }
  .work__title {
    grid-column: 2 / -1;
    font-size: 3.6rem; }
    @media only screen and (max-width: 41.25em) {
      .work__title {
        grid-column: 1 / -1;
        margin: auto; } }
  .work__image {
    grid-column: 1 / 3;
    overflow: hidden;
    padding: 1.6rem; }
    @media only screen and (max-width: 41.25em) {
      .work__image {
        grid-column: auto; } }
  .work__list {
    grid-column: 3 / 4;
    padding-left: 2rem;
    list-style-type: square; }
    @media only screen and (max-width: 41.25em) {
      .work__list {
        grid-column: auto; } }
  .work__list-item {
    margin: 1rem; }
  .work__link {
    display: inline-block;
    margin: 1rem;
    font-weight: 700;
    transition: all .2s; }
    .work__link:hover {
      transform: scale(1.1); }
