.navigation {

  grid-column: 2 / -1;
  justify-self: end;

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / -1;
    justify-self: center;
  }

  &__list {

    li {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 700;

      &:nth-child(1) {
        animation: moveInTop .4s;
      }
      &:nth-child(2) {
        animation: moveInTop .6s;
      }
      &:nth-child(3) {
        animation: moveInTop .8s;
      }
      &:nth-child(4) {
        animation: moveInTop 1s;
      }
    }


  }

  &__list-item {

    padding: 0 .5rem;
    position: relative;

    &::after {
      content: "";
      background-color: $color-primary;
      display: inline-block;
      height: 2px;
      visibility: hidden;
      width: 1px;
      transition: all .5s ease-in-out;

      position: absolute;
      top: 100%;
      left: 50%;

      transform: translateX(-50%) translateY(-100%);
    }

    &--active {
      // text-decoration: underline;
      // border-bottom: 3px solid $color-primary;
      font-weight: 900;
    }

    &:hover {
      cursor: pointer;
      // border-bottom: 2px solid $color-primary;

      &::after {
        visibility: visible;
        width: 75%;
      }



    }

  }
}
