.parallax-background {

  // background-image: linear-gradient(to bottom,
  // rgba($color-primary, 1) 0%,
  // rgba($color-secondary, .8) 0%,
  // rgba($color-primary, .8));
  background-image: url("../img/snakepic.jpg");
  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
