*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%


}

body {
  box-sizing: border-box;
  font-size: $default-font-size;
  line-height: 1.4;
}

img {
  width: 100%;
}

::selection {
  background-color: $color-black;
  color: $color-white;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}
