body {
  color: $color-grey-dark-1;
  font-family: 'Montserrat', sans-serif;

  // font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.5;

}

h1, h2 {
font-family: 'Rokkitt', serif;
}

.skills__heading {
  font-family: 'Montserrat', sans-serif;
}
