.skills {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr)); // This line makes it responsive
  grid-column-gap: 2rem;
  min-height: 50vh;
  padding: 2rem;

  &__item {

    margin: 1rem auto;

    @media only screen and (max-width: $bp-small) {
      margin: 1rem 2rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.8rem;
    }
  }

  &__heading {
    @media only screen and (max-width: $bp-smallest) {

      font-size: 1.8rem;
    }
  }

  &__list {
    list-style-type: square;
    margin-left: 2rem;

  }

  &__list-item {

    margin: 1rem;
  }
}
